<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>github/mwtelles</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>

<div class="d-flex justify-content-start">
    <div>
        <h1>Image Face detection</h1>
        <p class = "lead"> Try it yourself, uploading an image to see if a face is detected </p>
        <p> To do this i learned <a href="https://docs.opencv.org/2.4/modules/objdetect/doc/cascade_classification.html" target="blank"> Cascade Classification </a> and <a href="https://docs.opencv.org/2.4/modules/objdetect/doc/cascade_classification.html" target="blank"> This article </a>| this website was made using Python, Flask and OpenCV </p>
        <p> Image size limit: 2 MB </p>
        <p> Made by <a href="https://github.com/mwtelles" target="blank"> mwtelles </a> </p>
    </div>
</div>

<div class="container">
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <div align="center">
            <label class="btn btn-default btn-file">
                Browse <input type="file" name="image" style="display: none;">
            </label>
            <input type="submit" value="Upload your image" class="btn btn-primary">
        </div>
    </form>
</div>


<div class="text-center">
    {% if init %}
        {% if faceDetected %}
            <div class="alert alert-success" style="margin-top:20px;">
                <strong>There</strong> {{ num_faces }} face(s) in the photo!
            </div>
            {% if image_to_show %}
                <div>
                    <img src="{{ image_to_show }}">
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-danger" style="margin-top:18px;">
                <strong>There</strong> no face(s) in the photo!
            </div>
        {% endif %}
    {% endif %}
</div>

</body>
</html>